body { 
  background: url(../images/bike.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* font-family: 'Nanum Gothic',
sans-serif;
font-family: 'Josefin Sans',
sans-serif;
font-family: 'Lobster',
cursive; */
h1 {
  font-family: 'Lobster', cursive;
  color: white;
  text-align: center;
  font-size: 70px;

}

.card {
   opacity: 0.5;
}
#footer{
  background-color:#2f3b42;
  opacity: 0.7;
}
